body {
    background: #416e4a;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 10px;
    background-color: #674d4d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 300px;

    border: 4px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}